@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#0c120c] text-[#e2e8f0] font-sans;
  }
}

.font-serif {
  font-family: 'Playfair Display', serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
